<p>Корневой компонент</p>
<pre>{{ routes | json }}</pre>

<nav>
  <p *ngFor="let item of routes">
    <a [routerLink]="item.path">{{ item.path }}</a>
  </p>
  <p>
    <a routerLink="/test/one">one</a>
  </p>
  <p>
    <a routerLink="/test/two">two</a>
  </p>
  <button (click)="goTest1()">test1</button>
  <button (click)="goTest2()">test2</button>
  <a
    *ngFor="let item of ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']"
    [routerLink]="['test', 'one', item]">test {{ item }}</a
  >
</nav>

<router-outlet></router-outlet>
